@import '../../../mixins/font-style.scss';

.introduction__signature-block {
    @include font-style('normal');
    display: flex;
    justify-content: space-between;
    font-style: normal;
    line-height: 18px;
    margin: 167px 0 0 0;
    width: 356px;
    grid-area: signature-block;
}

@media (max-width: 550px) {
    .introduction__signature-block {
        display: none;
    }
}