.card-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}

.card-item:hover .card-item__img {
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
    .card-item {
        display: none;
        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 284px;
        height: 306px;
        align-items: center;
        box-sizing: border-box;
    }

    .card-item:first-child {
        display: flex;
        
    }
}