@import '../../../mixins/font-style.scss';

.workout__subtitle {
    @include font-style('normal');
    font-style: normal;
    color: var(--color-black2);
    opacity: 0.7;
    grid-area: workout-subtitle;
}

@media (max-width: 1300px) {
    .workout__subtitle {
        margin-top: 40px;
    }
}

@media (max-width: 550px) {
    .workout__subtitle {
        font-size: 12px;
        line-height: 18px;
    }
}