.root_theme_dark {
    --color-primary: #FFFFFF;
    --bg-primary: #333333;
    --color-black1: #E6E6E6;
    --color-black2: #E5E5E5;
    --color-grey3: #2F2F2F;
    --color-grey1: #434343;
    --color-grey2: #565656;
    --action-panel-btn-next: url('../images/nextArrowWhite.svg');
    --action-panel-btn-prev: url('../images/prevArrowWhite.svg');
    --slider-icon: url('../images/sliderBlack.svg');
}