@import '../../../mixins/font-style.scss';

.workout__title {
    font-style: normal;
    @include font-style('bold');
    margin-block-start: 0;
    margin-block-end: 50px;
    grid-area: workout-title;
}

@media (max-width: 550px) {
    .workout__title {
        font-size: 32px;
        line-height: 40px;
        margin-block-end: 40px;
        margin-block-start: 20px;
    }
}