.header {
    margin: 0;
    display: flex;
    align-items: center;
    height: 74px;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 444;
    background-color: var(--bg-primary);
}

/* @media (max-width: 550px) {
    .header {
        padding: 0 18px 0 0;
    }

} */