.popup__data {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 320px;
    background-color: var(--bg-primary);
    height: 640px;
    padding-bottom: 36px;
    box-sizing: border-box;
    align-items: center;
}